body { background-image: url("/drops.jpg");}
h1 {font-family: Georgia, "Times New Roman", serif; border-style: solid; border-color: pink;}
h2 {
color: #191970; text-align: center;
font-family: Georgia, "Times New Roman", serif; }
p {font-size: .90em; text-indent: 3em; }
ul {font-weight: bold; }
