body { background-color: blue;}
h1 {font-family: Georgia, "Times New Roman", serif; border-style: solid; padding: 20px; border-color: pink;}
h2 {
color: #191970; text-align: center;
font-family: Georgia, "Times New Roman", serif; }
p {font-size: .90em; text-indent: 3em; border-radius: 15px; background-color: white;}
