  body {color: white;}
bgimage {
  background-image: url("https://images.pexels.com/photos/9607203/pexels-photo-9607203.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-color: #cccccc;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
