  body {color: white; 
background-image: url("https://img.freepik.com/premium-photo/car-repair-tools-dark-background-neat-wrench-layout_182793-500.jpg");}
  p {
color: white;
  background-color: black;
  border: 3px white;
}
h1 {
color: white;
  background-color: black;
  border: 3px white;
}
