        body {
background-color:black;color:white;
}
.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
  }
div {
border-style:dotted;border-width:2px;height:100px;width:100px;
}
ol {
  list-style-type: lower-alpha;
}
ul {
  list-style-type: square;
}
